.formbackground {
    background-color: #00bbff;  /* Fuchsia as a hexadecimal color code */
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.background {
    background: rgb(93, 100, 100)
}